<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="/includes/fragments :: header" />

<body>


<div th:replace="/includes/fragments :: navbar"></div>
<div th:replace="/includes/fragments :: sidebar"></div>

   <div class="main">
       <div class="row">
           <div class="col" th:each="product : ${products}">
               <div class="card mb-4" style="width: 15rem; height: 27rem">

                   <img th:if="${product.image!=null}" style="height: 175px; width: 210px" class="card-img-top" th:src="@{${'/uploads/pImages/'+product.image}}" alt="Card image">
                   <div class="card-body">
                      <a th:href="@{/product/details/{id}(id=${product.id})  }"> <h5 class="card-title" th:text="${product.name}">Name</h5></a>
<!--                       <p class="card-text" th:text="${product.description}">Some quick example </p>-->
                       <p class="card-text" th:text="${product.price} + ' TK'"></p>
                       <a th:href="@{/cart/product/{id}(id=${product.id})  }" class="btn btn-primary">Add to cart</a>
                   </div>
               </div>
           </div>
       </div>
   </div>


<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>


</body>
</html>